# Byte-compiled / optimized / DLL files
*__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
.idea
# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# mypy
.mypy_cache/
/experiments/
.idea/Tensorflow-architecture-templete.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
experiments/

.DS_Store

.vscode/

#exclude all datasets
data/*

#except these datasets
!data/README.md
!data/ECG200/
!data/ECG5000/
!data/Strawberry/
!data/Fish/
!data/Haptics/
!data/Plane/
!data/FacesUCR/

src/experiments/*

src/imgs/*